
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}

.box{
    height: 200px;
    width: 200px;
    cursor: pointer;
}

img {
    width: 100%;
}